<form action="/workout_types/new" method="POST">
  <div class="form-group">
    <label for="workout_type">Workout Type</label>
    <input type="text" name="workout_type" class="form-control" id="workout_hours">
  </div>
  <button type="submit" class="btn btn-default">Create Workout Type</button>
</form>
