<div class="jumbotron">
  <h1>Simple Logger</h1>
  <p class="lead">Use Simple Logger to record your time and distance for your workouts. No complicated metrics, no graphs and charts with little meaning. Time and disatnce is all you need</p>
  <p><a class="btn btn-lg btn-success" href="/signup" role="button">Sign up today</a></p>
  <p>Already a member? <a href="/login">Log in here.</a></p>
</div>